[user]
	email = acccdang8659@gmail.com
	name = leokang94
[core]
	; editor = code --wait
  editor = nvim
	excludesfile = ~/.gitignore_global
	precomposeunicode = true
  quotepath = false
  ignorecase = false
  pager = delta
  attributesfile = ~/.gitattributes
[delta]
  feature = decorations
  navigate = true
  syntax-theme = Dracula
[pager]
  difftool = true
[pull]
	ff = yes
[push]
  autoSetupRemote = true
[rebase]
	updateRefs = true

[difftool "vscode"]
	cmd = "code --wait --diff \"$LOCAL\" \"$REMOTE\""
[difftool "diffview"]
  cmd = "nvim -n -c \"DiffviewOpen\" \"$LOCAL\" \"$REMOTE\""
[difftool]
  # Run the difftool immediately, don't ask 'are you sure' each time.
  prompt = false
[mergetool]
  prompt = false
  keepBackup = false
[merge "mergiraf"]
  name = mergiraf
  driver = mergiraf merge --git %O %A %B -s %S -x %X -y %Y -p %P -l %L
[diff]
	tool = diffview
[merge]
	ff = no
	commit = no
  tool = diffview


[color]
  ui = always
[color "branch"]
	current = cyan
  local = green
  remote = red
[color "decorate"]
	head = bold italic cyan
  tag = yellow
  branch = green
  remote = red
  stash = magenta
  grafted = blue

[color "status"]
  untracked = cyan
  changed = yellow
  added = green

[alias]
  a = add
  s = status -s
	co = checkout
	br = branch
	ci = commit
  cie = commit --allow-empty
  cif = commit --amend --no-edit
	db = delete-branch
	fp = fetch -p -P
	cp = cherry-pick
	sw = switch
	swd = switch --detach
	rb = rebase
	pfl = push --force-with-lease
  graph-log = log --all --graph --date-order --date=format-local:'%Y-%m-%d %H:%M:%S %Z' --format=format:'%C(yellow)%h%C(reset)%C(reset) %C(brightblack)%cN (%cd) /%C(reset) %C(brightblack)%aN (%ad)%C(reset)%n%C(auto)%(decorate:prefix=        ,suffix=\n,pointer= 󰁔 )        %C(brightwhite)%s%C(reset)%n'
  stl = !git stash list \
    | fzf --preview 'echo {} \
    | cut -d: -f1 \
    | xargs git stash show -p --color=always' --height 90% \
    | cut -d: -f1
  ls = !git graph-log \
    | fzf -m --ansi --layout=reverse --preview-window down,15,border-horizontal --preview=\"echo {} \
    | sed 's/-.*$//' \
    | egrep -o '[0-9a-z]+' \
    | head -1 \
    | xargs git show --name-status --color=always\" \
    | sed 's/-.*$//' \
    | egrep -o '[0-9a-z]+' \
    | head -1

[i18n]
	commitEncoding = utf-8
	logOutputEncoding = utf-8



